[submodule "lib/sml-abt"]
	path = lib/sml-abt
	url = git@github.com:jonsterling/sml-abt.git
[submodule "lib/sml-parcom-wrapper"]
	path = lib/sml-parcom-wrapper
	url = git@github.com:jonsterling/sml-parcom-wrapper.git
  ignore = untracked
[submodule "lib/cmlib"]
	path = lib/cmlib
	url = git@github.com:standardml/cmlib.git
[submodule "lib/sml-unparse"]
	path = lib/sml-unparse
	url = git@github.com:jonsterling/sml-unparse.git
